<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>Tambah / Ubah Komponen</title>
    <script type="text/javascript">

        var urlBack = '[[@{/web/component}]]';

        function doBack(){
            window.location.href = urlBack;
        }

        $(function(){

            $('#btn-back').click(function () {
                doBack();
            });

        });
    </script>
</head>
<body>


<section class="content-header" layout:fragment="content-header">
    <h1><i class="fa fa-circle-o"></i> Tambah / Ubah Komponen</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a th:href="@{/web/component}"><i class="fa fa-list-o"></i> Daftar Komponen</a></li>
        <li class="active">Form</li>
    </ol>
</section>

<section class="content container-fluid" layout:fragment="content">
    <div class="box">

        <form class="form-horizontal" th:action="@{/web/component/save}" th:object="${component}" method="POST">

            <input type="hidden" th:field="*{id}" name="id">


            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">


                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nama Komponen</label>
                    <div class="input-group col-sm-4">
                        <input type="text" th:field="*{name}" class="form-control" name="name" id="name"  required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Keterangan</label>
                    <div class="input-group col-sm-4">
                        <input type="text"  th:field="*{description}" class="form-control" name="description" id="description" required>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="input-group col-sm-4">
                        <button type="button" class="btn btn-default" id="btn-back">Batal</button>&nbsp;
                        <button type="submit" name="action" id="btn-save" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <!-- /.box -->
</section>


</body>
</html>