<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>Daftar Agama</title>

    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}"/>
    <script type="text/javascript">

        var datatableUrl = '[[@{/web/religion/datatable}]]';
        var urlEdit = '[[@{/web/religion/edit}]]';
        var urlDelete = '[[@{/web/religion/delete}]]';
        var dataTable;

        $(function () {

            dataTable = $('#datatable-religion').DataTable({
                "processing": true,
                "serverSide": true,
                "drawCallback": function () {
                    $('.btn-delete').click(function(){
                        var url = $(this).data('url');

                        bootbox.confirm({
                            message: "Yakin ingin menghapus data?",
                            buttons: {
                                confirm: {
                                    label: 'Hapus',
                                    className: 'btn-danger btn-remove'
                                },
                                cancel: {
                                    label: 'Batal',
                                    className: 'btn-default'
                                }
                            },
                            callback: function (result) {
                                console.log('This was logged in the callback: ' + result);

                                if(result){

                                    var $btnDelete = $('button.btn-remove');

                                    $.ajax({
                                        url: url,
                                        method: 'GET',
                                        success: function(data){
                                            dataTable.ajax.reload();
                                            showMessage('success', 'Data berhasil dihapus');
                                        },
                                        error: function (xhr, textStatus, errorThrown) {
                                            if (xhr.responseJSON && xhr.responseJSON.message) {
                                                showMessage('error', xhr.responseJSON.message);
                                            } else {
                                                showMessage('error', 'Hapus data gagal');
                                            }
                                        },
                                        beforeSend: function(){
                                            $btnDelete.attr('disabled', 'disabled');
                                            $btnDelete.text('Menghapus..');
                                        },
                                        complete: function () {
                                            $btnDelete.removeAttr('disabled');
                                            $btnDelete.text('Hapus');
                                        }
                                    });

                                }
                            }

                        });
                    });
                },

                "ajax": {
                    "url": datatableUrl,
                    "type": "POST",
                },
                "columns": [
                    {"data": null},
                    {"data": "name"},
                    {"data": null}
                ],
                "columnDefs": [
                    {
                        "targets": 0,
                        "orderable": false,
                        "searchable": false,
                        "class": "column-order-number",
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).addClass('text-center');
                            $(td).html(dataTable.page.info().start + row + 1);
                        }
                    },
                    {
                        "targets": -1,
                        "searchable": false,
                        "orderable": false,
                        "createdCell": function (td, data, rowData, row, col) {
                            var html = '';
                            html += '<a href="' + urlEdit + '/' + data.id + '" class="btn btn-sm btn-warning btn-sm rollovericons" title="Ubah"><i class="fa fa-pencil" aria-hidden="true"></i></a> ';
                            html += '<a href="#" data-id="'+data.id+'" data-url="'+urlDelete+'/'+data.id+'" class="btn btn-danger btn-sm btn-delete"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                            $(td).addClass('text-center');
                            $(td).html(html);
                        }
                    }]

            });

        });
    </script>
</head>
<body>


<section class="content-header" layout:fragment="content-header">
    <h1><i class="fa fa-circle-o"></i> Daftar Agama</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Daftar Agama</li>
    </ol>
</section>


<div class="right_col" role="main" layout:fragment="content">
    <!-- breadcrumb -->
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Daftar Agama</li>
        </ol>
    </div>

    <table class="table table-hover" id="datatable-religion">
        <thead>
        <tr>
            <th>No</th>
            <th>Agama</th>
            <th>Aksi</th>
        </tr>
        </thead>

        <tbody></tbody>
    </table>

</div>



</body>


</html>