<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <title>Pengaturan</title>
</head>
<body>


<section class="content-header" layout:fragment="content-header">
    <h1>
        Pengaturan
    </h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content container-fluid" layout:fragment="content">
    <div class="box">
        <div class="box-header">

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">

        </div>
        <!-- /.box-body -->

    </div>
    <!-- /.box -->
</section>


</body>
</html>